body {
  --h1-line-height: 60px;
  --h2-line-height: 50px;
  --h3-line-height: 45px;
  --h4-line-height: 40px;
  --h5-line-height: 40px;
  --h6-line-height: 40px;
}

.cm-header-1 {
  color: lightseagreen;
}

.cm-header-2 {
  color: lightseagreen;
}

.cm-header-3 {
  color: lightseagreen;
}

.cm-header-4 {
  color: lightseagreen;
}

.cm-header-5 {
  color: lightseagreen;
}

.cm-header-6 {
  color: lightseagreen;
}

/*
.cm-header-1 { color: #f37b84; }  
.cm-header-2 { color: #ffd98c; }
.cm-header-3 { color: #9ff369; }
.cm-header-4 { color: #59d5c4; }
.cm-header-5 { color: #2a8aff; }
.cm-header-6 { color: #b99aff; }
*/