h1 {
    font-size: 35px;
    font-weight: 700;
    }
h2 {
    font-size: 30px;
    font-weight: 600;
}
h3 {
    font-size: 22px;
    font-weight: 500;
    /* border-bottom: 1px solid; */
}

h4 {
    font-size: 18px;
    font-weight: 400;
    /* border-bottom: 1px solid; */
}